#diagram-viewer {
    box-sizing: border-box;
    overflow: hidden;
    padding: 1rem
}

#project-viewer {
    box-sizing: border-box;
    overflow: hidden;
    padding: 2rem
}

#diagram-viewer-and-styling-container {
    margin-top: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

:host([theme~="wide-overlay"])::part(content) {
    min-width: 20em;
    width: max-content;
    max-width: 50em;
}

img {
    -webkit-user-drag: none;
}