.diagram-viewer {
    box-sizing: border-box;
    overflow: hidden;
    padding: 1rem
}

.outer-zoomist-container {
    margin: 0 1rem 0;
    overflow: hidden;
}

#databaseButton {
    margin-right: 2rem;
}

#diagramDownloadButton {
    margin-right: 1rem;
    margin-left: auto;
}

#userButton {
    margin-right: 1rem;
}

#sql-generate-link {
    text-decoration: none;
    color: white;
}